BODY {COLOR: #000000; FONT-FAMILY: ±¼¸²; FONT-SIZE: 9pt}
TABLE {COLOR: #000000; FONT-FAMILY: ±¼¸²; FONT-SIZE: 9pt}
A:link {COLOR: #0066CC; TEXT-DECORATION: none; font-weight: bold}
A:visited {COLOR: #cc3366; TEXT-DECORATION: none; font-weight: bold}
A:active {COLOR: blue; TEXT-DECORATION: none; font-weight: bold}
A:hover {COLOR: red; TEXT-DECORATION: none}
.whiteButton {style="background-color:#F2FFD7;height=20;font-size:9pt;border:#003300 1px solid;"}
.InputText {BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 9pt; HEIGHT: 18px}
.InputTextarea {BORDER-BOTTOM: #cccccc 1px inset; BORDER-LEFT: #cccccc 1px inset; BORDER-RIGHT: #cccccc 1px inset; BORDER-TOP: #cccccc 1px inset; COLOR: #666666; FONT-SIZE: 9pt; PADDING-LEFT: 2pt; PADDING-TOP: 2pt; border: #999999}

.fontheight {  font-size: 12px; line-height: 20px}
.bluetitle {  font-family: "µ¸¿òÃ¼"; font-size: 12px; font-style: bold; font-weight: bold; color: #3366CC}
.redtitle {  font-family: "µ¸¿òÃ¼"; font-size: 12px; font-weight: bold; color: #FF3333}
.graytitle {  font-family: "µ¸¿òÃ¼"; font-size: 12px; font-weight: bold; color: #666666}

.yellow {  font-size: 12px; font-weight: bold; color: #FF9900}
.white {  font-size: 12px; font-weight: bold; color: #FFFFFF}
.bigblue {  font-family: "µ¸¿òÃ¼"; font-size: 14px; font-weight: bold; color: #0066CC}
.bigblue {  font-family: "µ¸¿òÃ¼"; font-size: 14px; font-weight: bold; color: #0066CC}
.bigred {  font-family: "µ¸¿òÃ¼"; font-size: 14px; font-weight: bold; color: #FF6600}
.darkblue {  font-family: "µ¸¿òÃ¼"; font-size: 12px; font-weight: bold; color: #003366}
.bigdarkgreen {  font-family: "µ¸¿òÃ¼"; font-size: 14px; font-weight: bold; color: #009999}
.fontheight2 {  font-family: "µ¸¿òÃ¼"; font-size: 12px; line-height: 210%}
.fontheight3 {  font-family: "µ¸¿òÃ¼"; font-size: 12px; line-height: 20px}
.bigblack {  font-size: 14px; font-weight: bold; font-family: "±¼¸²"}
.orange {  font-size: 12px; font-weight: bold; color: #FF6633}
.smallfont {  font-size: 11px; line-height: 150%}
.greentext {  font-family: "µ¸¿òÃ¼"; font-size: 12px; color: #006699}
.simple { font-size: 11px; background: white 1px solid; BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid }
.simple { font-size: 12px; background: white 1px solid; BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid }
.simple2 { background: white 1px solid; BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid ; font-family: "µ¸¿ò"; border-color: #999999 #CCCCCC #CCCCCC #999999}
.tdfont {  font-size: 8px; line-height: 80%; color: #FFFFFF}
.goolim {  font-size: 13px; line-height: 120%}
.goolim2 {  font-size: 12px}
.input { color : #666666; border : 1px #A0A0A0 solid; background-color : #Ffffff }
.smallpx {  font-size: 11px; font-family: "±¼¸²Ã¼"}
.smallfont2 {  font-size: 11px; line-height: 20px; border-style: none}
.smallfont3 {  font-size: 11px}
.smallfont4 {  font-size: 11px; line-height: 200%}
.small4 {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9px}
.smallfont6 {  font-size: 10.48pt; font-family: "µ¸¿ò"}
.bluetitle2 {  font-size: 12px; font-weight: bold; color: #0099CC}
.graytext {  font-size: 12px; color: #666666; line-height: 16pt}
.redtext {  color: #FF0000}
.bluetext {  color: #0066CC}
.pupletext {  color: #FF0099}
