#comm.home	/sms/CLIENT/smsd_mysql
#comm.bindir	/sms/CLIENT/smsd_mysql
#comm.logdir	/sms/CLIENT/smsd_mysql/LOG
#comm.lockdir	/sms/CLIENT/smsd_mysql/LOCK

comm.clientname		smsd
comm.listenername	smsdlistener
comm.dbmovername	smsdmover
comm.logwrite		Y // default

comm.resttime       0,0    //  Default  hh:mm,hh:mm  or hhmm:hhmm

client.listenport	4000
client.retryinterval		30 // Default 30초
client.reportackondbfail	N  // N: Default  Y: Report Update Fail시에도 REPORT_ACK 전송

db.host  	    localhost	
db.user  	    irisbeauty	
db.password     irisbeauty	
db.database     irisbeauty 

db.sendcount  	50
db.pollinginterval  1 // 초

db.recordlife	36	// 시간
db.moveinterval	1	// 분
db.databackup	SC_LOG_YYYYMM   // SC_LOG_YYYYMM: 월 Backup, SC_LOG: One-Table 'SC_LOG', NO: NO Backup

relay.address	203.233.124.157
relay.port		3000
relay.userid    SM104776	
relay.passwd    sik8448	

#relay.address2	203.233.124.157
#relay.port2 		3001
